#x{
    display: flex;
}

#a{
    background-color: red;
    flex-basis: 30%;
    height:100px;
}
#b{
    background-color: orange;
    flex-basis: 30%;
    height:100px;
}
#c{
    background-color: yellow;
    flex-basis: 30%;
    height:100px;
}
#d{
    background-color: green;
    flex-basis: 30%;
    height:100px;
}
#e{
    background-color: blue;
    flex-basis: 30%;
    height:100px;
}