body {
    background-color: pink;
}

.horse {
    position: relative;
    margin: 10px;
    font-size: 24px;
}

#track{
    position: absolute;
    width: 100%;
    padding: 20px;
    background-color: sienna;
    border-radius: 10px;
}